@{
    ViewBag.Title = "ShowExamPaperById";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutExamine.cshtml";
    int i = 0;
}

<div>
    @foreach (var item in ViewBag.ListQuestion)
    {
        i++;
        <div style="float:left; width: 55%;padding-left: 20px;">
            <div><input type="checkbox" name="checkbox" value="@i" class="checkboxva" />Câu hỏi số @i</div>
            <div>@item.Content</div>
        </div>
        <div style="float:left; width: 43%;">
            @foreach (var item2 in ViewBag.ListAnswer)
            {
                if (item.QuestionID == item2.QuestionID)
                {
                    <p><input type="checkbox" name="@item2.QuestionID" value="@i" class="radiova" id="@item2.AnswerID" /><span>@item2.AnswerContent</span></p>
                }
            }
        </div>
        <div style="clear: both;">
            <hr>
        </div>
    }
    @Html.Hidden("RedirectTo", Url.Action("_ShowResult", "TestLogin", new { countQ = Enumerable.Count(ViewBag.ListQuestion), passscore = ViewBag.PassScore , title = ViewBag.TitleTest }));
</div>
<script>
    $(document).ready(function () {
        $('.radiova').click(function (e) {
            var i = $(this).val();
            $("#" + (i - 1)).addClass("datraloi");
        });
        $('.checkboxva').click(function (e) {
            var i = $(this).val();
            if ($(this).prop('checked') == true) {
                $("#" + (i - 1)).addClass("dangcannhac");
            } else {

                $("#" + (i - 1)).removeClass("dangcannhac");
            }
        });
    });
</script>

